@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=BIZ+UDGothic&family=Barlow+Condensed:wght@100&family=Dancing+Script:wght@500&family=Permanent+Marker&family=Playfair+Display:ital@1&display=swap');
.userSelectionScreen{
  background-color: rgb(16, 216, 16);
  height: 100vh;  max-height: -webkit-fill-available;
}

.userSelectionScreen-username{
  color: white;
  font-size: 1.6rem;
  padding: 2rem 1rem;


}
.userSelectionScreen-username span{
  margin-left: .5rem;
}

.userSelectionScreen-navigations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .7rem;
  color: #fff;
}

.userSelectionScreen-navigations-navigation-links{
  color: white;
  background-color: rgba(2, 54, 2, 0.904);
  padding: 1.9rem 2rem;
  width: 130px;
  text-align: center;
  margin: .6rem;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.4rem;
  border-radius: 50%;
  
}

.nutrition-details-page{
  background-color: rgb(16, 216, 16);
 height: 100vh;  max-height: -webkit-fill-available;

}

.nutrition-details-heading{
  text-align: center;
  color: #fff;
}

.nutrition-detail-form{
  text-align: center;
}

.nutrition-detail-form input{
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: .9rem .8rem;
}

.nutrition-detail-form  i{
  background-color: white;
  font-size: 1.7rem;
  padding: .9rem .9rem;
  color: green;
  

}

.nutrition-detail-form-div{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
}

.nutrition-detail-form i:active{
  transform: scale(1.05);
}

.nutrition-details-page-nutrition-information{
  color: black;
  margin-top: 2rem;
  
}

li{
  list-style: none;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 1.2rem 0;
  background-color: white;
  padding: .7rem .7rem;
  width: 80%;
  border-radius: 60px;
  
}
.NutritionScreen-btn{
  padding-top: 1.2rem;
  text-align: right;
  
  
  
}
.go-back-btn{
  /* text-decoration: none;
  color: white;
  background-color: white;
  color: green;
  padding: .7rem 6rem;
  border-radius: 20px; */
  
  
}
.go-back-btn i{
  font-size: 2.5rem;
  /* margin-left: 2rem; */
  color: purple;
  margin-right: 2rem;
  
}

.nutrition-details-heading-span{
  display: block;
}


/*Recipe*/

.recipe{
  background-color: rgb(16, 216, 16);
 
  height: 100%;  max-height: -webkit-fill-available;
  padding-bottom: 4rem;
}

.recipe-heading{
  color: white;
  font-size: 2.7rem;
  margin-left: 3rem;
}


.recipe-card {

  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 30px;
  

}

.recipe-card-name{
  color: black;
  font-size: 1.6rem;
  text-align: center;
  color: red;
  
}
.recipe-card-name-span{
  display: block;
  color: purple;
}

.recipe-card-ingredients{
  text-align: center;


}

.recipe-ingredients-list{
display: flex;
justify-content: center;
align-items: flex-start;

  
}

.recipe-ingredients-list div{
  margin: 1rem 2rem;
  

}

.recipe-ingredients-list li{
  font-size: .8rem;
 background-color: greenyellow;
 color: black;
 text-align: center;
 margin-top: 2rem;
 white-space: nowrap


 
 
}

.instructions-div{
  padding: 1rem;
}

.instructions-div p{
  font-size: 1.5rem;
  line-height: 3rem;

  font-family: 'BIZ UDGothic', sans-serif;
  font-weight: bolder;
  text-align: center;
}



.instruction-div-heading{
  text-align: center;
  color: red;
}


.recipe-image-container{
  width: 100%;
  margin: auto;
}
.recipe-image-container img{
  width: 100%;

}
body{
  background-color: rgb(16, 216, 16);
}
